{% extends 'tourbuilder/base.html' %}

{% block title %}{{  activity.title }}{% endblock %}

{% block style %}
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}
{% endblock %}

{% block content %}
<h2>{{ activity.title}} </h2>
<div id="map"></div>
<ul>
<!--   <li>{{ activity.activity_type }}</li> -->
  <li><a href="/station/{{ activity.train_station.id }}">{{ activity.train_station }} Station</a></li>
  <li>{{ activity.available_from.time }}</li>
  <li>{{ activity.available_until.time }}</li>
  <li>{{ activity.cost }}</li>
  <li>{{ activity.duration }}</li>
</ul>
{% endblock %}

{% block scripts %}
<script defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjCygfwD2kN2bzlFHEcIcsYPS3bRg-FUM&callback=initMap">
</script>
<script>
function initMap() {
  var uluru = {lat: -25.344, lng: 131.036};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
{% endblock %}
