{% extends 'tourbuilder/base.html' %}
{% block title %}Tours{% endblock %}
{% block content %}
  <h4>
    <span>Recommended tours</span>
  </h4>
  <ol>
  {% for tour in tours %}
    <li class="tour-results">
      <div class="tour-result-card">
        <a href="/tour/{{ tour.id }}">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">stop_circle</i>
            <span>A ¥{{ tour.cost }} tour lasting {{ tour.duration.seconds }} seconds</span>
            <span class="mdl-list__item-text-body">
              Locations:
              {% for activity in tour.activities.all %}
                {{ activity.title }}
              {% endfor %}
            </span>
          </span>
        </a>
      </div>
    </li>
  {% endfor %}
  </ol>
{% endblock %}
