{% extends 'tourbuilder/base.html' %}
{% block title %}Tour{% endblock %}
{% block content %}
<h2>Activities</h2>
<ul>
{% for activity in tour.activities.all %}
  <li><a href="/activity/{{ activity.id }}">{{ activity.title }}</a></li>
{% endfor %}
</ul>
<h2>Overview</h3>
<ul>
  <li>Earliest start time: {{ tour.available_from.time }}</li>
  <li>Latest start time: {{ tour.available_until.time }}</li>
  <li>Total cost: {{ tour.cost }}</li>
  <li>Total duration: {{ tour.duration }}</li>
</ul>
{% endblock %}
